@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #d9d9d9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
